<div class="process-table">

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card-deck">
        <div class="card card-inverse">
          <div class="card-body">
            <h4 class="card-title">Strategy</h4>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Stakeholder interviews</li>
            <li class="list-group-item">Project vision &amp; goals</li>
            <li class="list-group-item">Measure of success</li>
          </ul>
        </div>
        <div class="card card-inverse">
          <div class="card-body">
            <h4 class="card-title">Discovery</h4>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Business requirements</li>
            <li class="list-group-item">User iterviews</li>
            <li class="list-group-item">Value Proposition Canvas</li>
          </ul>
        </div>
        <div class="card card-inverse">
          <div class="card-body">
            <h4 class="card-title">Analysis</h4>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Storyboarding</li>
            <li class="list-group-item">Personas</li>
            <li class="list-group-item">Experience maps</li>
          </ul>
        </div>
        <div class="card card-inverse">
          <div class="card-body">
            <h4 class="card-title">Design</h4>
            <!-- <p class="card-text">With supporting text </p> -->
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Sketching & wireframing</li>
            <li class="list-group-item">UI & Prototyping</li>
            <li class="list-group-item">User testing</li>
          </ul>
        </div>
        <div class="card card-inverse">
          <div class="card-body">
            <h4 class="card-title">Production</h4>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">BETA Launch</li>
            <li class="list-group-item">Quantitative analysis</li>
            <li class="list-group-item">User Testing</li>
          </ul>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="circles">
  <a class="circle circle--1" v-scroll-to="{ el: '#ux', offset: -200 }">UX</a>
  <a class="circle circle--2" v-scroll-to="{ el: '#tech', offset: -200 }">TECH</a>
  <a class="circle circle--3" v-scroll-to="{ el: '#business', offset: -200 }">BUSINESS</a>
  <div class="circle me">ME</div>
</div>